<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h2>Listing Id: <%= listing._id %></h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <div>
            Title: <input name="listing[title]" value="<%= listing.title %>" type="text" required>
            <br><br>
            Description: <textarea name="listing[description]" type="text" required><%= listing.description %></textarea>
            <br> <br>
            Image: <input name="listing[image]" value="<%= listing.image %>" type="text" required>
            <br> <br>
            Price: <input name="listing[price]" value="<%= listing.price %>" type="text" required>
            <br> <br>
            Location: <input name="listing[location]" value="<%= listing.location%>" type="text" required>
            <br> <br>
            Country: <input name="listing[country]" value="<%= listing.country %>" type="text" required>
            <br> <br>
            <button>Update</button>
        </div>
    </form>
</body>
</html>